/*Reset*/
* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  width: 100%;
  overflow: hidden;
}

.form__btn {
  background-color: #000000;
  color: #ffffff;
}

.header {
  display: flex;
  align-items: center;
  text-align: center;
  padding: 1% 0 1% 0;
  box-shadow: 5px 0 5px #eeeeee;
}
.header img {
  width: 20%;
}
.header #carrito {
  cursor: pointer;
}

.header__form {
  display: flex;
  height: 35px;
}
.header__form .form__btn {
  width: 50px;
}
.header__form input[type=text] {
  text-align: center;
  border: 1px solid #eeeeee;
}

.contenedor__producto {
  border: 1px solid #000;
  width: 350px;
}

.container {
  display: grid;
  grid-template-columns: 260px 1fr;
  grid-template-rows: 100px 1fr;
  grid-template-areas: "header header" "filtro contenedor" "filtro contenedor";
}

.contenedor {
  grid-area: contenedor;
}

.header {
  grid-area: header;
}

.filtro {
  grid-area: filtro;
  background-color: #f9f9f9;
  text-align: center;
}
.filtro .filtro__opinion {
  display: flex;
  flex-direction: column;
}
.filtro .opinion__clasificacion {
  flex-direction: column;
  margin: 10% 0 10% 0;
}

.opinion__clasificacion i {
  margin-top: 10px;
  width: 20px;
  text-align: center;
}

.opinion__cinco, .opinion__cuatro, .opinion__tres,
.opinion__dos, .opinion__uno {
  display: flex;
}

.contenedor {
  grid-area: contenedor;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 0 10% 10% 10%;
  gap: 20px;
}
.contenedor .contenedor__carrito {
  position: absolute;
  padding-top: 5%;
  background-color: #ffffff;
  text-align: center;
  width: 300px;
  height: 100vh;
  right: 0;
  box-shadow: -5px 0 5px #eeeeee;
}

.contenedor__producto img {
  width: 50%;
}

.contenedor__producto {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10%;
}
.contenedor__producto .producto__btn {
  margin-top: 10px;
  width: 50%;
  padding: 5px;
}

.ocultar {
  display: none;
}

.tabla {
  width: 250px;
}

.precio__filtrar {
  cursor: pointer;
  margin-top: 10%;
}

.producto__btn {
  cursor: pointer;
}

.btn__aside {
  cursor: pointer;
  margin: 10px 0 10px 0;
  padding: 5px;
  width: 200px;
}
.btn__aside:hover {
  background-color: #000;
  color: #fff;
}

.fin__pago {
  text-align: center;
}

.container-pago {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 100px 1fr;
  grid-template-areas: "header header" "productos__pago datos ";
}

.productos__pago {
  grid-area: productos__pago;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 50vh;
}
.productos__pago .pago__producto {
  width: 20%;
}

.datos {
  grid-area: datos;
  display: flex;
  justify-content: center;
  align-items: center;
}

#precio-total-carrito {
  text-align: center;
}

.form__datos {
  padding: 0 10% 0 10%;
}

.input {
  border: 1px solid #000;
  margin-bottom: 10px;
}

label {
  margin-top: 200px;
}

.popup {
  display: none;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  position: absolute;
  background-color: #fff;
  width: 100%;
  height: 100vh;
}

.mostrar {
  display: block;
}

/*# sourceMappingURL=styles.css.map */
