.container-pago {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 100px 1fr;
  grid-template-areas:
    'header header'
    'productos__pago datos ';
}

.productos__pago {
  grid-area: productos__pago;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 50vh;
  .pago__producto {
    width: 20%;
  }
}
.datos {
  grid-area: datos;
  display: flex;

  justify-content: center;
  align-items: center;
}

#precio-total-carrito {
  text-align: center;
}

.form__datos {
  padding: 0 10% 0 10%;
}

.input {
  border: 1px solid #000;
  margin-bottom: 10px;
}

label {
  margin-top: 200px;
}

.popup {
  display: none;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  position: absolute;
  background-color: #fff;
  width: 100%;
  height: 100vh;
}

.mostrar {
  display: block;
}
